@use 'variables' as *;

.navbar {
    background-color: $primary-color;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        color: $color-3;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }

    .navbar-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin-left: 20px;

            &:nth-child(1) a {
                color: $color-1;
            }

            &:nth-child(2) a {
                color: $color-2;
            }

            &:nth-child(3) a {
                color: $color-3;
            }

            &:nth-child(4) a {
                color: $color-1;
            }

            a {
                text-decoration: none;
                font-size: 1rem;
                transition: color 0.3s ease;

                &:hover {
                    color: $color-4;
                }
            }
        }
    }
}